<ActionBar title="Ese Movie Rater App">
    <NavigationButton visibility="collapsed"></NavigationButton>
    
</ActionBar>

<StackLayout class="page">
    <Label class="h2" text="Username"></Label>
    <TextField [(ngModel)]="auth.username" autocapitalizationType="none"></TextField>
    <Label class="h2" text="Password"></Label>
    <TextField [(ngModel)]="auth.password" secure="true" autocapitalizationType="none"></TextField>
    <Button text="{{registerMode ? 'Register' : 'Login'}}" (tap)="submitForm()" class="-primary -rounded-lg"></Button>

    <Label (tap)="registerMode = true " *ngIf="!registerMode" text="Do not have an account? Register here" ></Label>
    <Label (tap)="registerMode = false " *ngIf="registerMode" text="Have an account? Login here" ></Label>
</StackLayout>